div{
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    font-size: 30px;
    float: left;
    margin: 5px;
    border-radius: ;

}

.caja{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 200px;;
}

img{
    width: 200px;
    float: left;
    margin: 10px;
    
}

{
   
}